body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
}

header {
  background: #0b6e4f;
  color: white;
  padding: 15px;
  text-align: center;
}

select {
  padding: 8px;
  font-size: 16px;
  margin-top: 10px;
}

.ayah {
  background: white;
  margin: 15px;
  padding: 15px;
  border-radius: 8px;
}

.arab {
  font-family: 'Amiri', serif;
  font-size: 26px;
  direction: rtl;
  text-align: right;
}

.arti {
  margin-top: 10px;
  color: #444;
}

}
