body {
    font-family: Arial, sans-serif;
    background: #e9f5ec;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #1f8c45;
    color: white;
    padding: 20px;
}

section {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

input, select {
    width: 80%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    width: 85%;
    padding: 12px;
    background: #1f8c45;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 17px;
}

button:hover {
    background: #176e35;
}

span {
    color: #1f8c45;
    cursor: pointer;
    font-weight: bold;
}

h3 {
    margin-bottom: 12px;
}
